h1 {
  font-size: 18px;
  text-align: center;
  color: #430f58;
}

h2 {
  font-size: 24px;
  color: #430f58;
  /* this margin 0 will keep the city name and date closer together, no space between */
  margin: 0;
}

body {
  padding: 30px;
  background: #fafafa;
}

.container {
  border: 5px solid #5c5470;
  max-width: 400px;
  /*to center*/
  margin: 0 auto;
  /*space around*/
  padding: 30px;
  box-shadow: 6px 5px 5px #c3bef0;
  border-radius: 10px;
  font-family: "Manrope", sans-serif;
  font-family: "Montserrat", sans-serif;
  background: #defcf9;
}

#selector {
  display: block;
  width: 70%;
  border-radius: 4px;
  padding: 10px;
  margin: 30px auto;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-family: "Montserrat", sans-serif;
  background: #edb1f1;
}

#selector:hover {
  cursor: pointer;
}

.city {
  display: flex;
  justify-content: space-between;
  /*adds space between each city/time */
  margin: 10px 0;
  border-bottom: 1px dashed gray;
  padding: 20px 0;
}

/* remove border from last city's bottom */
.city:last-child {
  border: none;
}

.time {
  font-size: 36px;
  font-weight: bold;
  color: #430f58;
}

#ampm {
  font-size: 15px;
  vertical-align: middle;
  line-height: 30px;
}

.date {
  opacity: 0.7;
}

#coded-by {
  text-align: center;
  color: #5c5470;
  padding-top: 20px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-family: "Montserrat", sans-serif;
}

/* the all cities link back to list */
#link-back {
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  font-family: "Montserrat", sans-serif;
}
